.pages{
background:#E5E4E2;
background-size: 100%;
}




.pages{
    height:100%;
    width:100%;
    background-image:  url("../images/bambiBeach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    
}

.companyName{
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    padding-top: 10px;
    margin-left: 15px
}





.gallery img:hover{
filter: grayscale(0);
transform: scale(1.1)
}




.owner{
    margin-left: 105px;
    width: 174px;
    height: 234px;
  
}

.ownerInfo{
    width: 174px;
    height: 300 px;
clear: both;
text-align: center;
font-size: 18px;
    margin-left: 105px;
}

.ownerPic{
    float: left;
    width: 300px;
    height: 300 px;
}

.galleryPictures{
    background-color: cornflowerblue
}


#travelGallery{
   float: left;
    margin-top: 80px;
   margin-left: 250px;
 
}

.galleryName{
   font-size: 36px;
    text-align: center
}

.galleryText{
    
    font-family: 'Oleo Script', cursive;
    padding-bottom: 5px;
}


.clickme{
    
   background: #E5E4E2;
    width: 100%;
    height: 50px;        
}

.clickme a:hover{
    color: red;
}



#about{
    
    width:65;
    float:right;
    margin-top: 1.5%;
    border-right: solid grey;
    padding-left: 4px;
    padding-right: 10px;
}

#home{
    
    width:60px;
    float:right;
    margin-top: 1.5%;
    border-right: solid grey;
   
    padding-right: 4px;
}





#trips{
    
    width:75px;
    float:right;
    border-right: solid grey;
    margin-top: 1.5%;
    padding-left: 4px;

}   
.clickme a:hover{
    color: red;
}
#contact{
    
    width: 85px;
    float: right;
    margin-top: 1.5%;
    padding-left: 4px;
    margin-right: 300px;
}

.contactInfo{

    margin-right: 300px
}
.aboutMessage{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 700px;
    margin-top: 40px;
}

.companyName3{
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
}

.signature{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 650;
    font-family: 'Pinyon Script', cursive;
}


.bookNow img{
    height: 214px;
    width: 300px;
}

.bookNow{
    font-family: 'Oleo Script', cursive;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    display:table-cell ;
    height: 150px;
    width: 150px;
    background: #87CEEB;
   
}
.book{
    font-family: 'Oleo Script', cursive; 
    text-align: center;
    padding-bottom: 5px;
}
.buttonDiv{
   
float: left;
margin-top: 80px;
margin-left: 80px
}
.hotDeals{
    font-family: 'Oleo Script', cursive; 
    text-align: center;
}

.clickHere1{

    font-family: 'Oleo Script', cursive; 
    text-align: center;
}

.book{
    font-size: 36px;
}

.bookNow{
	background:#87CEEB;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/* //Firefox 1+ */
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/* //Safari 3-4 */
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

/* //Firefox 1+ */
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
/* 
//Safari 3-4 */
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
.usefulTitle{
    font-size: 36px;
    padding-bottom: 5px;
}


.usefulLinks{
    float: right;
    margin-right: 80px;
    margin-top: 80px;
    line-height: 30px;
    font-family: 'Oleo Script', cursive;

}

.clickHere{
    
}

.planning{

    font-family: 'Oleo Script', cursive;
}



.nameInfo{
    padding-top: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 30px;

}

.owner2{
    
    width: 225px;
    height: 300px;
  
}

.ownerPic2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.trips{
    width: 225px;
    height: 300px;
     
}

.tripPics{
margin-top: 175px;

}

.companyTrip{
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    padding-top: 10px;
    margin-left: 15px
}

.tripLogo{
    padding-top: 5px;
    padding-bottom: 5px;
}
.tripLogo img{
    width: 300px;
    height: 214px;
    
    }

.upcominEvents{
text-align: center;
font-family: 'Oleo Script', cursive;
font-size: 36px
    }

.life{
    float: left;
margin-left: 250px

}

.discover{
    float: right;
   margin-right: 250px
    }

.wicked{
text-align: center;
position: relative;
top:220px;
}
.pool1{
margin-left: 250px;
margin-top: 150px;
float: left;

}

.pool2{
margin-right: 250px;
float: right;
margin-top: 150px;

    

}

/* 

@media screen and (max-width:768px){
    #contact{
        width:6%;
    float: right;
    margin-top: 1.5%;
    padding-left: 2px;
    margin-right: 0px;
        
    }
  #trips{
  
  }
 #about{
  
    
        width:60px;
        margin-left: 50px;
        float: none;
        margin-top: 1.5%;
        border-right: none;
        padding-left: 0;
        padding-right: 0px;
    

 }
#home{
    float: left;
height: 16px;
width:50px;
padding-right: 0px;
    margin-top: 0px;
   
    border-right: none
   ;
}
    
    
    







    body{
        width:350px;


  height:640px;
    
  
    background-size: 350px 300px;


    }

.clickme{
    width: 343px;
}
.Nav{

    width: 343px;
}


.companyName{
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
    padding-top: 5px;
    margin-left: 1px
}


.owner{
    margin-left: 10px;
    width: 75px;
    height: 101px;
  
}

.ownerInfo{
    width: 75px;
    height: 101 px;
clear: both;
text-align: center;

font-size: 12px;
    margin-left: 10px;
}

.ownerPic{
    float: left;
    width: 100px;
    height: 110 px;
}


.bookNow{
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    display:table-cell ;
    height: 40px;
    width: 40px;
    background: #87CEEB;
   
}
.book{
    font-family: 'Oleo Script', cursive; 
    font-size: 18px;
}
.buttonDiv{
   
float: left;
margin-top: 10px;
margin-left: 10px
}
.hotDeals{
    font-family: 'Oleo Script', cursive; 
    text-align: center;
    font-size: 18px;
}

.clickHere1{
    font-size: 18px;
    font-family: 'Oleo Script', cursive; 
    text-align: center;
}

.bookNow img{
    height: 40px;
    width: 40px;

}
 */

/* .bookNow{

	background:#87CEEB;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; */

	/* //Firefox 1+ */
	/* -webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite; */

	/* //Safari 3-4 */
	/* -moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
} */

/* @keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
} */

/* //Firefox 1+ */
/* @-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
} */
/* 
//Safari 3-4 */
/* @-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
} */
/* 
#travelGallery{
    float: left;
     margin-top: 5px;
    margin-left: 10px
  
 }
 
 .galleryName{
     
     margin-left: 5px;
     
 }
 
 .galleryText{
     margin-left: 10px;
     font-family: 'Oleo Script', cursive;
    font-size: 18px

 }

 .gallery img{
    width: 75px;
    padding :5px;
    filter:grayscale(100%);
    transition: 1s;

}

.usefulTitle{

    font-size: 16px;
}

.usefulLinks{
    float: left;
    margin-left: 10px;
    margin-top: 50px;
    line-height: 30px;
    font-family: 'Oleo Script', cursive;
    font-size: 16px;
}

.clickHere{
    text-align: center;
    font-size: 16px;
}

.planning{
font-size: 16px;
    font-family: 'Oleo Script', cursive;
}




}   */
