

.lilBox{
    
    

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;


}

.buttonDiv{
    justify-self: center;
    padding-bottom: 20px;

}

.book{
    padding-top: 10px;
    text-align: center;
    font-family: 'Oleo Script', cursive; 
    font-size: 36px;
}


.image2 img{
    width: 100% 
}
.bookNow{  
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    display:table-cell ;
}

.bookNow{
	background:#87CEEB;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/* //Firefox 1+ */
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/* //Safari 3-4 */
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

/* //Firefox 1+ */
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
/* 
//Safari 3-4 */
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}


.bookNow img {
  
        height: 214px;
        width: 300px;
    
}

.hotDeals{
    text-align: center;
    font-family: 'Oleo Script', cursive; 
    font-size: 36px;
    
}
.gallery{
    justify-self: center;
}


.galleryText{
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    font-family: 'Oleo Script', cursive;
    padding-bottom: 5px;

}

.usefulTitle{
    
    font-size: 36px;
    padding-bottom: 5px;
}


.usefulLinks{
    padding-top: 10px;
   justify-self: center;
    line-height: 30px;
    font-family: 'Oleo Script', cursive;

}

.clickHere{
    font-size: 24px;
}

.planning{

    font-size: 24px;
}


@media screen and (max-width:854px){

    .lilBox{
        grid-template-columns: repeat(auto-fit,350px);
    }
       
}
