



header{
    height: 50px;
    background: #E5E4E2;;
    text-align: center;
    position: fixed;
    top:0;
    width: 100%;
}

.nav-toggle{
    display: none
}

.nav-toggle-label{
    position: absolute;
    top: -10px;
    left: 0;
    margin: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
content: "";
position: absolute;
}
.nav-toggle-label span::before{
bottom: 7px;
}
.nav-toggle-label span::after{
top:7px;
}



nav ul{
    margin:0;
    padding: 0;
    list-style: none;

}

nav li{
    margin-left: 1em;
    margin-bottom: 1em;

}

nav a {
    
    font-size: 1rem;
    text-decoration: none;
    text-transform:uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}


nav a:hover{
    color:red;
}

.nav-toggle:checked~nav{

transform: scale(1,1)

}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}







.pages{
background:#E5E4E2;
background-size: 100%;
}




.pages{
    height:100%;
    width:100%;
    background-image:  url("../images/bambiBeach.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    
}

.companyName{
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    padding-top: 60px;
    margin-left: 15px
}





.gallery img:hover{
filter: grayscale(0);
transform: scale(1.1)
}




.owner{
    margin-left: 105px;
    width: 174px;
    height: 234px;
  
}

.ownerInfo{
    width: 174px;
    height: 300 px;
clear: both;
text-align: center;
font-size: 18px;
    margin-left: 105px;
}

.ownerPic{
    float: left;
    width: 300px;
    height: 300 px;
}




.galleryPictures{
    background-color: cornflowerblue
}


.lilBox{
    
    padding-top: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
    
    }
    
    .buttonDiv{
        justify-self: center;
        padding-bottom: 20px;
    
    }
    
    .book{
        padding-top: 10px;
        text-align: center;
        font-family: 'Oleo Script', cursive; 
        font-size: 36px;
    }
    
    
    .image2 img{
        width: 100% 
    }
    .bookNow{  
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        display:table-cell ;
    }
    
    .bookNow{
        background:#87CEEB;
        padding:5px 10px;
        color:#fff;
        border:none;
        border-radius:5px;
        
        animation-name: flash;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    
        /* //Firefox 1+ */
        -webkit-animation-name: flash;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    
        /* //Safari 3-4 */
        -moz-animation-name: flash;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
    }
    
    @keyframes flash {  
        0% { opacity: 1.0; }
        50% { opacity: 0.5; }
        100% { opacity: 1.0; }
    }
    
    /* //Firefox 1+ */
    @-webkit-keyframes flash {  
        0% { opacity: 1.0; }
        50% { opacity: 0.5; }
        100% { opacity: 1.0; }
    }
    /* 
    //Safari 3-4 */
    @-moz-keyframes flash {  
        0% { opacity: 1.0; }
        50% { opacity: 0.5; }
        100% { opacity: 1.0; }
    }
    
    
    .bookNow img {
      
            height: 214px;
            width: 300px;
        
    }
    
    .hotDeals{
        text-align: center;
        font-family: 'Oleo Script', cursive; 
        font-size: 36px;
        
    }
    .gallery{
        justify-self: center;
    }
    
    
    .galleryText{
        padding-top: 10px;
        text-align: center;
        font-size: 36px;
        font-family: 'Oleo Script', cursive;
        padding-bottom: 5px;
    
    }
    
    .usefulTitle{
        
        font-size: 36px;
        padding-bottom: 5px;
    }
    
    
    .usefulLinks{
        padding-top: 10px;
       justify-self: center;
        line-height: 30px;
        font-family: 'Oleo Script', cursive;
    
    }
    
    .clickHere{
        font-size: 24px;
    }
    
    .planning{
    
        font-size: 24px;
    }




.contactInfo{
padding-top: 200px;
text-align: center;
}
.aboutMessage{
    padding-top: 60px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 700px;
    margin-top: 40px;
}

.companyName3{
    padding-left: 10px;
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
}

.signature{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 650;
    font-family: 'Pinyon Script', cursive;
}




.nameInfo{
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 10px;

}

.information{
    padding-top:  60px ;
}




.owner2{
    
    width: 225px;
    height: 300px;
  
}

.ownerPic2{
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
}


.trips{
    width: 225px;
    height: 300px;
     
}

.tripPics{
margin-top: 175px;

}

.companyTrip{
    padding-top: 60px;
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    padding-left: 45px;
    margin-left: 15px;
}

.aboutLogo{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aboutLogo img{
    width: 300px;
    height: 214px;
    
    }




.tripLogo{
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tripLogo img{
    width: 300px;
    height: 214px;
    
    }

.upcominEvents{
text-align: center;
font-family: 'Oleo Script', cursive;
font-size: 36px
    }

.life{
    float: left;
margin-left: 250px

}

.discover{
    float: right;
   margin-right: 250px
    }

.wicked{
text-align: center;
position: relative;
top:220px;
}
.pool1{
margin-left: 250px;
margin-top: 150px;
float: left;

}

.pool2{
margin-right: 250px;
float: right;
margin-top: 150px;

    

}


@media screen and (min-width:800px){
    .nav-toggle-label{

        display: none;
    }


    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px,3fr) 1fr
    
    }
    
    .logo{
        grid-column: 2/3;
    
    }
    
nav{
 
    grid-column: 3/4;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}




nav li {
    margin-bottom: 0;
}

nav ul{
    display: flex;
    justify-content: flex-end;

}



nav a{
   opacity: 1;
   position: relative;
}

nav a:before{
    content: "";
    display: block;
    height: 5px;
    background: #000;
    position: absolute;
    top: -.75em;
    left: 0;
     right: 0;
     transform: scale(0,1);
     transform-origin: left;
     transition: transform ease-in-out 250ms;
}

nav a:hover::before{
    transform: scale(1,1)
}
}

@media screen and (max-width:801px){

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #E5E4E2;
   transform: scale(1,0);
   transform-origin: top;
   transition: transform 400ms ease-in;
   }
   
}



@media screen and (max-width:854px){

    .lilBox{
        grid-template-columns: repeat(auto-fit,350px);
    }
       
}
