body{
background:#E5E4E2;
background-size: 100%;
}




body{
    height:100%;
    width:100%;
    background-image:  url("../images/bambiBeach.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 500px;
    
}

.companyName{
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    padding-top: 10px;
    margin-left: 15px
}



.gallery img{
    width: 230px;
    padding :5px;
    filter:grayscale(100%);
    transition: 1s;

}

.gallery img:hover{
filter: grayscale(0);
transform: scale(1.1)
}




.owner{
    margin-left: 105px;
    width: 174px;
    height: 234px;
  
}

.ownerInfo{
clear: both;
    margin-left: 105px
}

.ownerPic{
    float: left;
    width: 300px;
    height: 300 px;
}

#travelGallery{
   float: left;
    margin-top: 4%;
   margin-left: 250px
 
}

.galleryName{
    margin-left: 70px;
    
}

.galleryText{
    font-family: 'Oleo Script', cursive;
}


.clickme{
   background: #E5E4E2;
    width: 100%;
    height: 50px;        
}

.clickme a:hover{
    color: red;
}

#name{
    background-color: black;
    width: 15%;
     color:lightgrey;
     float:left;
     font-size: 30px;
     margin-left: 5%;
     padding-bottom: .5%;
     padding-top: .5%;
}

#about{
    
    width:4%;
    float:right;
    margin-top: 1.5%;
    border-right: solid grey;
    padding-left: 4px;
    padding-right: 10px;
}

#home{
    
    width:3%;
    float:right;
    margin-top: 1.5%;
    border-right: solid grey;
   
    padding-right: 4px;
}





#trips{
    
    width:5%;
    float:right;
    border-right: solid grey;
    margin-top: 1.5%;
    padding-left: 4px;

}   
.clickme a:hover{
    color: red;
}
#contact{
    
    width:6%;
    float: right;
    margin-top: 1.5%;
    padding-left: 4px;
    margin-right: 300px;
}

.contactInfo{

    margin-right: 300px
}
.aboutMessage{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 700px;
    margin-top: 40px;
}

.companyName3{
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
}

.signature{
    font-size: 36px;
    font-weight: 650;
    font-family: 'Pinyon Script', cursive;
}


.bookNow{
    font-family: 'Oleo Script', cursive;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    display:table-cell ;
    height: 150px;
    width: 150px;
    background: #87CEEB;
   
}
.book{
    font-family: 'Oleo Script', cursive; 
}
.buttonDiv{
   
float: left;
margin-top: 70px;
margin-left: 200px
}
.hotDeals{
    font-family: 'Oleo Script', cursive; 
}

.clickHere1{

    font-family: 'Oleo Script', cursive; 
}

.bookNow{
	background:#87CEEB;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/* //Firefox 1+ */
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/* //Safari 3-4 */
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

/* //Firefox 1+ */
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
/* 
//Safari 3-4 */
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.usefulLinks{
    float: left;
    margin-left: 250px;
    margin-top: 4%;
    line-height: 30px;
    font-family: 'Oleo Script', cursive;
}

.clickHere{
    text-align: center;
}

.planning{

    font-family: 'Oleo Script', cursive;
}



.nameInfo{
    text-align: center;
    font-size: 36px;
    font-weight: 400;

}

.owner2{
    
    width: 225px;
    height: 300px;
  
}

.ownerPic2{
    text-align: center;
}


.trips{
    width: 225px;
    height: 300px;
     
}

.tripPics{
margin-top: 300px;

}

.life{
    float: left;
margin-left: 250px

}

.discover{
    float: right;
   margin-right: 250px
    }

.wicked{
text-align: center;
position: relative;
top:220px;
}
.pool1{
margin-left: 250px;
margin-top: 150px;
float: left;

}

.pool2{
margin-right: 250px;
float: right;
margin-top: 150px;

    

}